<a href="https://colab.research.google.com/github/sraghu678/tusk/blob/master/Red_Hat_Business_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import io

In [ ]:
activity = pd.read_csv("/content/drive/MyDrive/Red_Hat_Business_Value/act_train.csv")
print("Shape of train dataset",activity.shape)
activity.head()

Shape of train dataset (2197291, 15)

  people_id   activity_id        date  ... char_9  char_10 outcome
0   ppl_100  act2_1734928  2023-08-26  ...    NaN  type 76       0
1   ppl_100  act2_2434093  2022-09-27  ...    NaN   type 1       0
2   ppl_100  act2_3404049  2022-09-27  ...    NaN   type 1       0
3   ppl_100  act2_3651215  2023-08-04  ...    NaN   type 1       0
4   ppl_100  act2_4109017  2023-08-26  ...    NaN   type 1       0

[5 rows x 15 columns]

In [ ]:
people = pd.read_csv("/content/drive/MyDrive/Red_Hat_Business_Value/people.csv")
print("Shape of people dataset",people.shape)
people.head()

Shape of people dataset (189118, 41)

    people_id  char_1      group_1  char_2  ... char_35 char_36 char_37 char_38
0     ppl_100  type 2  group 17304  type 2  ...    True    True   False      36
1  ppl_100002  type 2   group 8688  type 3  ...    True    True   False      76
2  ppl_100003  type 2  group 33592  type 3  ...   False    True    True      99
3  ppl_100004  type 2  group 22593  type 3  ...    True    True    True      76
4  ppl_100006  type 2   group 6534  type 3  ...    True    True   False      84

[5 rows x 41 columns]

In [ ]:
# Show the shape

print(people.shape)

# Show the null percent

100*people.isnull().sum()/people.shape[0]

(189118, 41)

people_id    0.0
char_1       0.0
group_1      0.0
char_2       0.0
date         0.0
char_3       0.0
char_4       0.0
char_5       0.0
char_6       0.0
char_7       0.0
char_8       0.0
char_9       0.0
char_10      0.0
char_11      0.0
char_12      0.0
char_13      0.0
char_14      0.0
char_15      0.0
char_16      0.0
char_17      0.0
char_18      0.0
char_19      0.0
char_20      0.0
char_21      0.0
char_22      0.0
char_23      0.0
char_24      0.0
char_25      0.0
char_26      0.0
char_27      0.0
char_28      0.0
char_29      0.0
char_30      0.0
char_31      0.0
char_32      0.0
char_33      0.0
char_34      0.0
char_35      0.0
char_36      0.0
char_37      0.0
char_38      0.0
dtype: float64

In [ ]:
# We repet with the other dataset 

print(activity.shape)
100*activity.isnull().sum()/activity.shape[0]

# We gonna delete the columns 90% null and fill

(2197291, 15)

people_id             0.000000
activity_id           0.000000
date                  0.000000
activity_category     0.000000
char_1               92.826849
char_2               92.826849
char_3               92.826849
char_4               92.826849
char_5               92.826849
char_6               92.826849
char_7               92.826849
char_8               92.826849
char_9               92.826849
char_10               7.173151
outcome               0.000000
dtype: float64

In [ ]:
activity.drop(columns=['char_1','char_2','char_3','char_4','char_5','char_6','char_7','char_8','char_9'],inplace=True)

print(activity.shape)

(2197291, 6)

In [ ]:
activity['char_10'] = activity['char_10'].fillna(activity["char_10"].mode()[0])

In [ ]:
100*activity.isnull().sum()/activity.shape[0]

people_id            0.0
activity_id          0.0
date                 0.0
activity_category    0.0
char_10              0.0
outcome              0.0
dtype: float64

In [ ]:
activity = activity.rename(columns={"date":"data_activity","char_10":"activity_type"})
activity.head()

  people_id   activity_id  ... activity_type outcome
0   ppl_100  act2_1734928  ...       type 76       0
1   ppl_100  act2_2434093  ...        type 1       0
2   ppl_100  act2_3404049  ...        type 1       0
3   ppl_100  act2_3651215  ...        type 1       0
4   ppl_100  act2_4109017  ...        type 1       0

[5 rows x 6 columns]

In [ ]:
all_data = activity.merge(people,on=["people_id"], how="inner")
all_data.shape

(2197291, 46)

In [ ]:
100*all_data["outcome"].value_counts()/all_data.shape[0]

0    55.60456
1    44.39544
Name: outcome, dtype: float64

In [ ]:
types = pd.DataFrame(all_data.dtypes)
print("Types of variables: ", types.groupby(0).size())

Types of variables:  0
bool      28
int64      2
object    16
dtype: int64

In [ ]:
all_data = all_data.replace({False: 0, True: 1})

In [ ]:
types = pd.DataFrame(all_data.dtypes)
print("Types of variables replace: ", types.groupby(0).size())

Types of variables replace:  0
int64     30
object    16
dtype: int64

In [ ]:
all_data.people_id = all_data.people_id.str.slice(start=4).astype(float).astype(int)

types = pd.DataFrame(all_data.dtypes)
print("Second replace: ",types.groupby(0).size())

Second replace:  0
int64     31
object    15
dtype: int64

In [ ]:
all_data[["activity_id", "activity_category", "group_1", "activity_type"]].head(3)

    activity_id activity_category      group_1 activity_type
0  act2_1734928            type 4  group 17304       type 76
1  act2_2434093            type 2  group 17304        type 1
2  act2_3404049            type 2  group 17304        type 1

In [ ]:
all_data.activity_id = all_data.activity_id.str.slice(start=5).astype(float).astype(int)
all_data.activity_category = all_data.activity_category.str.slice(start=5).astype(float).astype(int)
all_data.group_1 = all_data.group_1.str.slice(start=6).astype(float).astype(int)
all_data.activity_type = all_data.activity_type.str.slice(start=5).astype(float).astype(int)

types = pd.DataFrame(all_data.dtypes)
print("Thith",types.groupby(0).size())

Thith 0
int64     35
object    11
dtype: int64

In [ ]:
categorics = types.index[types[0] == 'O'].values 
for line in categorics:
    print("The variable "+ line +"contine: ", str(len(all_data[line].unique()))+" distinct values")

The variable data_activitycontine:  411 distinct values
The variable char_1contine:  2 distinct values
The variable char_2contine:  3 distinct values
The variable datecontine:  1196 distinct values
The variable char_3contine:  43 distinct values
The variable char_4contine:  25 distinct values
The variable char_5contine:  9 distinct values
The variable char_6contine:  7 distinct values
The variable char_7contine:  25 distinct values
The variable char_8contine:  8 distinct values
The variable char_9contine:  9 distinct values

In [ ]:
all_data["date"] = pd.to_datetime(all_data["date"])

# Create new variables 
all_data["day"] = all_data["date"].dt.day
all_data["day_of_week"] = all_data["date"].dt.weekday
all_data["week"] = all_data["date"].dt.week
all_data["month"] = all_data["date"].dt.month
all_data["trimester"] = all_data["date"].dt.quarter
all_data["year"] = all_data["date"].dt.year

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

In [ ]:
all_data["data_activity"] = pd.to_datetime(all_data["data_activity"])
all_data["activity_day"] = all_data["data_activity"].dt.day
all_data["activity_day_of_week"] = all_data["data_activity"].dt.weekday
all_data["activity_week"] = all_data["data_activity"].dt.week
all_data["activity_month"] = all_data["data_activity"].dt.month
all_data["activity_trimester"] = all_data["data_activity"].dt.quarter
all_data["activity_year"] = all_data["data_activity"].dt.year

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  after removing the cwd from sys.path.

In [ ]:
del(all_data["date"])
del(all_data["data_activity"])

types = pd.DataFrame(all_data.dtypes)
print("Types of variables later of 4to remplace",types.groupby(0).size())

Types of variables later of 4to remplace 0
int64     47
object     9
dtype: int64

In [ ]:
categorics = types.index[types[0] == 'O'].values 
for line in categorics:
    print("The variable "+ line +"contine: ", str(len(all_data[line].unique()))+" distinct values")

The variable char_1contine:  2 distinct values
The variable char_2contine:  3 distinct values
The variable char_3contine:  43 distinct values
The variable char_4contine:  25 distinct values
The variable char_5contine:  9 distinct values
The variable char_6contine:  7 distinct values
The variable char_7contine:  25 distinct values
The variable char_8contine:  8 distinct values
The variable char_9contine:  9 distinct values

In [ ]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

# Define dataframe's function and the column to return a dataframe later OHE
def crea_OneHotEncoding(df, column):
  le = LabelEncoder()
  le_ajustado=le.fit_transform(df[column]).reshape(-1,1)
  encoder = OneHotEncoder(sparse=False)
  column = [column+ "_"+ str(i) for i in le.classes_]
  data = encoder.fit_transform(le_ajustado)
  return(pd.DataFrame(data,columns =column))

In [ ]:
numeric_columns = list(set(types.index[types[0] =="int64"].values) - set(["outcome"]))
all_data_finish = all_data[numeric_columns]
objetive = all_data["outcome"]

categories = types.index[types[0] == 'O'].values
for column in categories:
  df = crea_OneHotEncoding(all_data,column)
  all_data_finish = pd.concat([all_data_finish,df],axis=1)
  print("Column ",column, " tranform!")

print("Finish size:",all_data_finish.shape)

Column  char_1  tranform!
Column  char_2  tranform!
Column  char_3  tranform!
Column  char_4  tranform!
Column  char_5  tranform!
Column  char_6  tranform!
Column  char_7  tranform!
Column  char_8  tranform!
Column  char_9  tranform!
Finish size: (2197291, 177)

In [ ]:
from sklearn.model_selection import train_test_split

# Separte train set and test set  
x_train, x_test, y_train, y_test = train_test_split(all_data_finish,objetive, test_size=0.2,random_state=2020)

# Create validation set
x_train, x_val, y_train, y_val = train_test_split(x_train,y_train, test_size=0.1, random_state=2020)

In [ ]:
print("Shape of x_train:",x_train.shape)
print("Shape of x_test:",x_test.shape)
print("Shape of x_val:",x_val.shape)
print("Shape of y_train:",y_train.shape)
print("Shape of y_test:",y_test.shape)
print("Shape of y_val:",y_val.shape)

Shape of x_train: (1582048, 177)
Shape of x_test: (439459, 177)
Shape of x_val: (175784, 177)
Shape of y_train: (1582048,)
Shape of y_test: (439459,)
Shape of y_val: (175784,)

In [ ]:
df_processed_train =pd.concat([x_train, y_train], axis=1)

In [ ]:
df_processed_train.to_csv("/content/drive/MyDrive/df_processed_train.csv")

In [ ]:
df_processed_test =pd.concat([x_test, y_test], axis=1)
df_processed_test.to_csv("/content/drive/MyDrive/df_processed_test.csv")

In [ ]:
df_processed_val =pd.concat([x_val, y_val], axis=1)
df_processed_val.to_csv("/content/drive/MyDrive/df_processed_val.csv")